<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blockchain</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link class="js-stylesheet" href="assets/css/style.css" rel="stylesheet">
    <script src='node_modules//web3.js-browser/build/web3.js'></script>

    <script src="assets/js/vue.js"></script>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">-->
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">


<div class="wrapper">

    <div class="main" id="app">

        <nav class="navbar navbar-expand navbar-light navbar-bg">
            Voting App
            <div class="navbar-collapse collapse">

                <ul class="navbar-nav navbar-align">
                    <li>
                        <h3> Default Address &nbsp;</h3>
                    </li>

                    <li>
                        <div class="form-group">
                            <input
                                    class="form-control form-control"
                                    type="text"
                                    v-model="default_address"
                                    placeholder="Enter default address"/>
                        </div>
                    </li>


                </ul>

            </div>
        </nav>


        <main class="content">
            <div class="container-fluid p-0">


                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-body">

                                        <div class="input-group">
                                            <input type="text" v-model="name" class="form-control-lg"
                                                   placeholder="Enter candidate name">
                                            <p>&nbsp;</p>
                                            <button type="button" class="btn btn-primary" @click="add_candidate">Add
                                                Candidate
                                            </button>
                                        </div>
                                        <p>&nbsp;</p>


                                        <div class="input-group">
                                            <input type="text" v-model="voter_address" class="form-control-lg"
                                                   placeholder="Enter voter address">
                                            <p>&nbsp;</p>
                                            <button type="button" class="btn btn-primary" @click="authorize">
                                                Authorize voter
                                            </button>
                                        </div>
                                        <p>&nbsp;</p>

                                        <div class="input-group">
                                            <input type="text" v-model="current_vote" class="form-control-lg"
                                                   placeholder="Enter candidate number">
                                            <p>&nbsp;</p>
                                            <button type="button" class="btn btn-primary" @click="vote">
                                                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vote &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;
                                            </button>
                                        </div>
                                        <p>&nbsp;</p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <caption>Registered Voters</caption>
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Address</th>
                                            </tr>
                                            </thead>

                                            <tr v-for="(item, index) in this.voters">
                                                <td> {{ (index + 1) }}</td>
                                                <td> {{ item.address }}</td>

<!--                                                <td> {{ (item.voted) }}-->
<!--                                                <td v-if="Number(item.vote) == 0">-->

<!--                                                    Not voted yet-->
<!--                                                    </td>-->
<!--                                                <td v-else> {{ (Number(item.vote) + 1) }}-->
<!--                                                </td>-->
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <caption>Candidates</caption>
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Votes</th>
                                            </tr>
                                            </thead>

                                            <tr v-for="(item, index) in this.candidates">
                                                <td> {{ (index + 1) }}</td>
                                                <td> {{ item.name }}</td>
                                                <td> {{ item.voteCount }}</td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <caption>All Accounts</caption>
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Address</th>
                                            </tr>
                                            </thead>

                                            <tr v-for="(item, index) in this.accounts">
                                                <td> {{ (index + 1) }}</td>
                                                <td> {{ item }}</td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>
</div>


<script src="assets/js/app.js"></script>

</body>

</html>
